vtu{
display:block;
margin-top:15px;
color:blue;
}

name,branch,year,email,college,usn{
display:block;
margin-left:20px;
font-size:14pt;
color:black;
}

usn{
margin-top:20px;
color:red;
}

email{
color:blue;
font-size:10pt;
}
h1{
color:black;
font-size:18pt;
margin-top:15px;
}